
body {
    margin: 0;
    height: 100vh; /* 100% da altura da tela */
    display:flexbox;
    background-color: #090909;
    color: blue;
}


h1{
    text-align: center;
    top: 100px;
}


p{
    text-align: center;
    top: 100px;
}

.botoes{
    align-items: center;     /* Centraliza verticalmente */
    left: 50px;
}